@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  * {
    @apply border-border outline-ring/50 ;
  };
  }
  body {
    @apply bg-background text-foreground
  
}
@layer utilities {
  .btn-animated {
    @apply relative flex justify-center items-center rounded-md 
           bg-[#000000] shadow-[0px_6px_24px_rgba(0,0,0,0.2)]
           overflow-hidden cursor-pointer border-none;
  }

  .btn-animated::after {
    content: "";
    @apply absolute h-full w-0 bg-[#ffffff] right-0 transition-all duration-400 ease-in-out;
  }

  .btn-animated:hover::after {
    @apply left-0 w-full;
    right: auto;
  }

  .btn-text {
    @apply text-white text-center w-full 
           z-20 transition-all duration-300 ease-in-out;
  }

  .btn-animated:hover .btn-text {
    @apply text-black;
  }
  .btn-animated:active {
    animation: scaleUp 0.3s ease-in-out;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}


/* in your globals.css or Tailwind config */
@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-9px); }
}

.animate-float {
  animation: float 3s ease-out infinite;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(var(--y, 10px));
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    scale: 1;
  }
}

.split-text-item {
  opacity: 0;
  animation-delay: 0.1s;
  animation-name: fadeUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

.h1-fade {
  opacity: 0;
  animation-name: fadeUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  will-change: opacity, transform;

}

.h2-fade {
  opacity: 0;
  animation-name: fadeUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  will-change: opacity, transform;
  scale: 0.97;

}

.p-fade {
  opacity: 0;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  will-change: opacity, transform;

}

.btns-fade {
  opacity: 0;
  animation-name: fade;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  will-change: opacity, transform;
  animation-delay: 0.5s;
}

.img-fadeUp {
  opacity: 0;
  scale: 0.5;
  will-change: opacity, transform;
  animation-name: fadeUp;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-delay: 0.7s;
}
@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  }

 to {
    opacity: 1;
    scale: 1;
  }
}

.cardr {
  animation:appear linear;
  /* animation-timeline: view();
  animation-range: entry, 0; */
}

@media (prefers-reduced-motion: reduce) {
  .split-text-item {
    animation: none;
    opacity: 1;
    transform: none;
  }
}

.responsive-filter {
  filter: blur(5px);
}

@media only screen and (max-width: 600px) {
  .responsive-filter {
    filter: blur(0px);
  }
}